.headerSpacer {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
  float: left;
  display: inline-block;
  text-decoration: none;
}

ul {
    margin: auto;
}

.bgHeader {
    background-color: #383d38;
}

mat-form-field {
    margin: 5px 0px;
    font-size: 15px;
    width: 300px;
    padding: 6px;
}

li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: #383d38;
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #383d38;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #383d38;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.imgLogo{
    width: 50px;
    color: #383d38;
    background-color: #383d38;
    border-color: #383d38;
}

.home{
    margin: 0;
    padding: 0;
}

.general{
    margin-left: 150px;
}

.cardTurno{
    min-width: 200px;
    height: 200px;
}

.modalTurnos{
    width: 700px;

}

.modalCajas{
    margin-right: 500px;
}

.rowTurno{
    padding: 30px;
}

h1{
    align-self: center;
    margin-top: 6px;
}

h2{
    text-align: center;
    
}

h3{
    align-self: center;
    margin-top: 40px;
    font-size: 40px;

}


.cardTurnoTV{
    background-color: #377a83;
    color: white;
    height: 50px;
}

.cardCajaTV{
    background-color: #8352b9;
    color: white;
    height: 50px;
}

.imgPerfil{
    border: none;
}

.rowPrin{
    border-color: gray;
}

.cardTurnoTVGrande{
    background-color: #377a83;
    color: white;
    height: 120px;
}

.cardCajaTVGrande{
    background-color: #8352b9;
    color: white;
    height: 120px;
}