
<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <h1>Turnos</h1>
            <div class="container-fluid">
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">CÉDULA</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">TURNO</th>
                                <th scope="col">CAJA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.090.519.942</td>
                                <td>Viviana Patiño</td>
                                <td>A1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1.090.519.942</td>
                                <td>Alberto Perez</td>
                                <td>A2</td>
                                <td></td>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </mat-card>
    </div>
</div>