
<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <h1>Orden de exámen</h1>
            <mat-card-content>
                <div class="container-fluid">
                    <div class="container">
                        <br>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <mat-form-field appearance="fill" class="medico">
                                    <mat-label>Médico solicitante</mat-label>
                                    <input  matInput type="text" required/>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <mat-form-field appearance="fill" class="medico">
                                    <mat-label>Duración MIN</mat-label>
                                    <input  matInput type="text" required/>
                                </mat-form-field>
                            </div>
                        </div>
                        <h3>Exámenes</h3>
                        <div class="row justify-content-center d-flex">
                            <div class="col-md-2 col-sm-2" >
                                <p>Perfil lipídico</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Colesterol
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        LDL
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        HDL
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Triglicérido
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2" >
                                <p>Perfil hepático</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Bilirrubina
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        AST
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        LDH
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2" >
                                <p>Perfil triode</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        TSH
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        T3
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        T4
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3" >
                                <p>Perfil renal</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Nitrógeno de urea
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Creatinina
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Ácido úrico
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Proteína total
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Globulina calcio
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Glucosa
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3" >
                                <p>Panel metabólico</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Electrolitos
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Glucosa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Nitrógeno de urea
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Creatinina
                                    </label>
                                </div>
                            </div>
                        </div>
                    
                        <br>
                        <div class="justify-content-center d-flex" >
                        <button color="accent" class="button-agregar " mat-raised-button routerLink="/factura" >Guardar</button>
                        <br>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>