.container {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
}

.card {
    min-width: 850px;
    max-width: 500px;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
}

mat-card-title {
    text-align: center;
}

.colorButton {
    background-color: #3d3838;
    color: white;
}

.coloField {
    color: #3d3838;
}

.bgComponent {
    background-image: url("../../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.mat-form-field {
    margin-right: 8px;
}

h1{
    text-align: center;
}


.acciones {
    width: 50px;
}

.eliminar{
    background-color: #9a4df1;
    color: white;
}

.editar{
    background-color: #5f88f8;
    width: 30px;
    color: white;
}

.name {
    padding-top: 20px;
}

.agregar{
    width: 100px;
}

.editar1{
    background-color: #5DC3D1;
}

.colRegistro{
    padding-right: 0;
}

.colName{
    padding-left: 0;
}

.modalOrden{
    width: 550px;
    margin-left: 20px;
}

.tablaOrden{
    width: 400px;
}
.buscar{
    width: 400px;
    align-self: center;
}
