
<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <h1>Resultados</h1>
            <div class="container-fluid">
                <div class="container">
                    <table class="table">
                        <colgroup span="2" width="100"></colgroup>
                        <thead>
                            <tr>
                                <th class="result" scope="col" colspan="5">Laboratorio xLAB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="paciente"><b>PACIENTE: VIVIANA PATIÑO</b></td>
                                <td><b>SEXO: F</b></td>
                                <td><b>EDAD: 22 AÑOS</b></td>
                                <td><b>MEDICO: ARMANDO LÓPEZ</b></td>
                                <td class="fecha"><b>FECHA: 04/09/2021</b></td>
                            </tr>
                            
                            <tr>
                                <td colspan="2">PERFIL LÍPIDO</td>
                                <td>RESULTADOS</td>
                                <td>UNID</td>
                                <td>VALORES DE REF</td>
                            </tr>
                            <tr>
                                <td colspan="2">COLESTEROL</td>
                                <td>184</td>
                                <td>mg/dL</td>
                                <td>90 - 200</td>
                            </tr>
                            <tr>
                                <td colspan="2">HDL</td>
                                <td>57</td>
                                <td>mg/dL</td>
                                <td>43 - 110</td>
                            </tr>
                            <tr>
                                <td colspan="2">LDL</td>
                                <td>114</td>
                                <td>mg/dL</td>
                                <td>50 - 115</td>
                            </tr>
                            <tr>
                                <td colspan="2">TRIGLICÉRIDOS</td>
                                <td>67</td>
                                <td>mg/dL</td>
                                <td>50 - 150</td>
                            </tr>
                            <tr>
                                <td colspan="2">PERFIL RENAL</td>
                                <td>RESULTADOS</td>
                                <td>UNID</td>
                                <td>VALORES DE REF</td>
                            </tr>
                            <tr>
                                <td colspan="2">GLUBOLINA CALCIO</td>
                                <td>4.10</td>
                                <td>g/dL</td>
                                <td>1.20 - 9.40</td>
                            </tr>
                            <tr>
                                <td colspan="2">CREATININA</td>
                                <td>0.67</td>
                                <td>mg/dL</td>
                                <td>0.66 - 0.69</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content-end d-flex">
                    <button mat-raised-button class="pdf" color="accent">PDF</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
