.container {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
}

.card {
    min-width: 650px;
    max-width: 1000px;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
}

mat-card-title {
    text-align: center;
}

.colorButton {
    background-color: #3d3838;
    color: white;
}

.coloField {
    color: #3d3838;
}

.bgComponent {
    background-image: url("../../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.mat-form-field {
    margin-right: 8px;
}

h1{
    text-align: center;
}

h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.tablaOrden{
    width: 400px;
}

.cedula{
    padding-left: 20px;
    margin: 0;
}

.nombre{
    width: 230px;
}

.buttonAddResult{
    width: 150px;
    background-color: #5DC3D1;
}

.buttonResult{
    margin-left: 10px;
    width: 150px;
    background-color: #9a4df1;
}

.colRegistro{
    padding-right: 0;
}

.colName{
    padding-left: 0;
}

.inputUsuario{
    color: black;
}
