.container {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
}

.card {
    min-width: 450px;
    max-width: 400px;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 40px;
}

mat-card-title {
    text-align: center;
}

.colorButton {
    background-color: #3d3838;
    color: white;
}

.coloField {
    color: #3d3838;
}

.bgComponent {
    background-image: url("../../../assets/img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.mat-form-field {
    margin-right: 8px;
}

h1{
    text-align: center;
}   

.acciones {
    width: 50px;
}

.eliminar{
    background-color: #fc4242;
    color: white;
}

.editar{
    background-color: #9a4df1;
    width: 30px;
}

.name {
    padding-top: 20px;
}

.agregar{
    width: 100px;
    background-color: #5DC3D1;
}

.nombre{
    width: 310px;
}

.modalEntidad{
    width: 350px;
}
