<div class="bgComponent">
    <div class="form">
        <mat-card class="card">
            <h1>Cajas</h1>
            <mat-card-content>
                <div class="container-fluid">
                    <div class="container">
                        <div class="row justify-content-end d-flex">
                            <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="btnGuardar">Agregar caja</button>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja ustify-content-center  d-flex">
                                    <h1>CAJA 1</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckChecked" checked>
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected >Libre</option>
                                        <option value="1">Ocupada</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja">
                                    <h1>CAJA 3</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected>Libre</option>
                                        <option value="1">Ocupada</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja">
                                    <h1>CAJA 5</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected>Libre</option>
                                        <option value="1">Ocupada</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja">
                                    <h1>CAJA 2</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected>Ocupada</option>
                                        <option value="1">Libre</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja">
                                    <h1>CAJA 4</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected>No disponible</option>
                                        <option value="1">Libre</option>
                                        <option value="2">Ocupada</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 justify-content-center  d-flex">
                                <div class="card cardCaja">
                                    <h1>CAJA 6</h1>
                                    <div class="form-check form-switch checkEspecial">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Especial</label>
                                        <input class="form-check-input checkEsp" type="checkbox" id="flexSwitchCheckDefault">
                                    </div>  
                                    <select class="form-select selectCaja" aria-label="Default select example">
                                        <option selected>Ocupada</option>
                                        <option value="1">Libre</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                    <br>
                                    <div class="row justify-content-center d-flex">
                                        <button mat-raised-button  color="accent" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal" class="editar"><i class="far fa-edit"></i></button>
                                        <button  class="eliminar" mat-raised-button routerLink="" ><i class="far fa-trash-alt "></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalCaja">
            <div class="modal-body justify-content-center">
                <h2>Agregar caja</h2>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input  matInput type="text" required/>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>